regions/Alola/_SunMoon/alola-full.png filter=lfs diff=lfs merge=lfs -text
regions/Unova/Unova[[:space:]]BW[[:space:]]cloudy.png filter=lfs diff=lfs merge=lfs -text
regions/Sinnoh/Grand[[:space:]]Underground.png filter=lfs diff=lfs merge=lfs -text
