@import "./variables";



span.size {

    color: $grey5;
    font-weight: 400;

    & > span {
        font-size: 0.85em;
    }

    .warning {
        line-height: 14px;
        vertical-align: top;
        margin-top: -3px;
        top: 0;
    }
}

span.resolution {
    font-weight: 800;
    font-size: 15px;
    font-variation-settings: "wdth" 115;
}

span.format {
    display: inline-flex;
    height: 1em;
    padding: 0 0.5em;
    align-items: center;
    justify-content: center;
    // color: white;
    color: $grey1;
    line-height: 1;
    border-radius: 1em;
    border: 1px solid var(--file-type-color);
    //background-color: var(--file-type-color);




    & > span {

        
        font-optical-sizing: auto;
        font-variation-settings: "wdth" 90;
        

        /* font-family: "PT Sans"; */

        font-weight: 700;
        font-size: 12px;
        position: relative;
        top: -0.05em;
    }
}

.lossless-tag {
    font-weight: 400;
    font-family: $main-font-family;
    font-variation-settings: "wdth" 75;
}


.megapix {
    span:nth-child(1) {
        font-size: 0.9em;
        // font-weight: 200;
    }
    span:nth-child(2) {
        font-size: 0.8em;
        font-weight: 500;
        margin-left: 0.25ch;
        font-variation-settings: "wdth" 100;
    
        
    }
    margin-bottom: 0.76em;
}


.groupNode.is-minor {
    div.img-container {
        width: 500px;
        .img-frame {
            width: 175px;
            height: 140px;
            flex-basis: 175px;
        }
    }    
}

div.img-container {

    position: relative;
    background-color: $dark1;
    border: 1px solid $dark3;
    border-radius: 10px;
    padding: 6px;
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow:hidden;

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        content: '';
        background-color: $dark2;
        height: 51px;
        border-bottom: 1px solid $dark3;
    }

    & > * {
        position: relative;
        z-index: 2;
    }

    

    .img-frame {
        width: 350px;
        height: 280px;
        flex: 0 0 350px;
        border-radius: 8px;
        overflow: hidden;
        background-color: $dark7;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        

        & > .thumb-bg {
            position: absolute;
            background-color: rgba($dark7, 0.26);
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            object-fit: cover;
            opacity: 0.7;
            filter: blur(8px);
            -webkit-filter: blur(8px);          
        }

        & > .thumb {

            background-image:url("./pixel-grid.png");

            background-color: rgba($dark3, 0.3);
            display: block;
            // width: 350px;
            // height: 280px;    
            z-index: 1;
            // object-fit: contain;

            border: 1px solid #c6c9d266;
            box-sizing: content-box;

            max-width: 100%;
            max-height: 100%;


        }
        
    }


    .img-desc {

        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 280px;
        flex: 1 1 auto;

        .growBuffer {
            display: block;
            width: 100%;
            flex: 0 1 4px;
        }


        div.heading {
            & > h3 {
                margin: 0;
                font-size: 22px;
                font-weight: 600;
                text-transform: uppercase;    
            }
            & > .megapix {
                margin-bottom: 0;
                & > span:nth-child(1) {
                    font-size: 1em;
                }
                & > span:nth-child(1) {
                    font-size: 0.85em;
                }
            }
            margin-bottom: 10px;
        }
        .resolution-set {

            margin-bottom:3px;
            &:last-child {
                margin-bottom:0;
            }

            
            .resolution-set-head {
                position: relative;
                .resolution {

                }
                background-color: #ffffff11;
                padding: 3px 3px 2px 6px;
                border-radius: 6px;
                margin: 0 0 3px -4px;

                /*
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                */

            }
            .resolution-set-files {
                display: flex;
                flex-direction: row;
                gap: 6px;


                a.fileLink {

                    width: 100%;

                    flex: 1 1 auto;

                                    
                    display: flex;
                    flex-direction: row;
                    gap: 6px;

                    color: $grey3;
                    text-decoration: none;
                    padding: 6px;
                    border-radius: 6px;
                    margin-left: -6px;
                    margin-right: 0px;
                    font-size: 14px;

                    background-blend-mode: multiply;

                    transition: background-color 0.2s;

                    // background-color: #ffffff03;


                    &:hover {
                        background-color: #ffffff11;
                    }

                    &:active {
                        background-color: #ffffff22;
                    }

                    .pageIcon {


                        z-index: 9;
                        position: relative;
                        display: block;
                        flex: 0 0 auto;
                        color: var(--file-type-color);
                
                        flex-grow: 0;
                        flex-shrink: 0;
                        height: 36px;

                        svg.pageIcon-svg {
                            overflow: visible;
                            height: 100%;
                        }
                

                        & > div {

                            background-color: #ffffffAA;
                            border: 1px solid var(--file-type-color);
                            border-radius: 4px;
                            padding: 0 3px;
                            font-size: 12px;
                            font-weight: 900;
                            bottom: 3px;
                            position: absolute;
                            left: 3px;
                            line-height: 12px;
                            overflow: hidden;
                            min-width: 20px;
                            text-align: center;
                
                            font-variation-settings: "wdth" 90;
                
                            text-shadow: 0 0 1px #FFFFFFAA;
                        
                            &:before {
                
                                position: absolute;
                                content: '';
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background-color: var(--file-type-color);
                                z-index: -1;
                            
                
                            }
                
                        }

                    }
                    .fileData {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                        & > div {
                            line-height: 1;
                            &:first-child {
                                margin-top:2px;
                            }
                            &:nth-child(2) {
                                font-size: 0.9em;
                                margin-left: -25px;
                                margin-bottom: 2px;
                                font-weight: 200;


                                .format-spacer {
                                    visibility: hidden;
                                    font-size: 12px;
                                    font-weight: 900;
                                    margin-right: 0.5em;
                                }
                            }
                        }
                

                        .size {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        div.line {
            display: none;
            margin: 6px 0 5px 0;
            height:2px;
            width:100%;
            background-color: $dark3;
        }

    }
}

.tag {
    font-size: 0.8em;
    font-size: 0.9em;


    height: 1.25em;
    height: 1em;

    line-height: 0.9em;

    padding-left: 0.3em;
    padding-right: 0.3em;
    display: inline-block;
    background-color: #880033;
    color: white;
    font-weight: 800;
    border-radius: 1em;
    position: relative;

    top: -0.16666666666em;
    top: -0.13333333333em;

    box-sizing: border-box;
    border:1px solid #880033;

    &.hollow {
        background-color:rgba(255,255,255,0.05);
    }
    
}



.aspect-demo-outer {
    float: right;
    width: 24px;

    // height: 20px;
    // background-color: rgba(255, 255, 255, 0.1333333333);

    position: absolute;
    right: 6px;
    top: 3px;
    bottom: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
        width: 100%;
        & > div {
            max-width: 100%;
            max-height: 100%;
            // background-color: #FF88CC;
            box-sizing: border-box;
            display: block;
            margin: auto;
            border-radius: 2px;
            position: relative;

            border:1px solid #ffffff22;
            background-color: #ffffff44;
            box-shadow: 1.5px 1.5px 2.5px #000000AA;
            mix-blend-mode: luminosity;
        }
    }

}