
$main-font-family: "Nunito Sans";

$grey1: hsl(222, 12%, 89%);
$grey2: hsl(222, 12%, 84%);
$grey3: hsl(222, 12%, 79%);
$grey4: hsl(222, 12%, 74%);
$grey5: hsl(222, 12%, 69%);


$unknown-file: #454978;
$webp-dark: #4e9a06;
$webp-light: #8ae234;
$jpg: #7e301e;
$png: #673466;




$background-color: hsl(222, 22%, 10%);


$dark1: #161922;
$dark1: hsl(222, 21%, 11%);

$dark2: #191C25;
$dark2: hsl(222, 21%, 12%);

$dark3: #1c212c;
$dark3: #1d212c;
$dark3: hsl(222, 21%, 14%);

$dark4: #212632;
$dark4: hsl(222, 21%, 16%);

$dark7: #30374a;
$dark7: hsl(222, 21%, 24%);


$d312: #c6c9d2;