@import "./normalize";

$main-font-family: "Open Sans";

html, body {
    font-family: $main-font-family;

    background-color: #14171f;
    color: #c3c7d0;
    padding: 12px;


    font-family: $main-font-family, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  

}

body {
    opacity: 1;
}


$webp-dark: #4e9a06;
$webp-light: #8ae234;
$jpg: #7e301e;
$png: #673466;

:root {
    --file-type-color: #454978;
}
.webp-lossless {
    --file-type-color: #{$webp-dark};
}
.webp {
    --file-type-color: #{$webp-light};
}
.jpg {
    --file-type-color: #{$jpg};
}
.png {
    --file-type-color: #{$png};
}

svg {
    shape-rendering: geometricPrecision;
    * {
        shape-rendering: geometricPrecision;
    }
}


.warning {
    display: inline-block;
    width: 20px;
    height:18px;
    background-image: url("./warning-triangle.png");
    background-position: 0 0;
    background-size: contain;
    position: relative;
    top: 4px;
    margin-top:-3px;


    &:first-child {
        margin-right: 0.3em;
    }
    &:last-child {
        margin-left: 0.3em;
    }
}


.warning2 {
    display: inline-block;
    width: 17px;
    height:16px;
    background-image: url("./triangle2-red-opt-render-4x.png");
    background-position: 0 0;
    background-size: contain;
    position: relative;
    top: 2px;
}



.warning3 {
    display: inline-block;
    width: 17px;
    height:16px;
    background-image: url("./triangle2-opt-render-upside-4x.png");
    background-position: 0 0;
    background-size: contain;
    position: relative;
    top: 2px;
}


$group-left-margin: 16px;

h1, h2 {
    color: #e0e3e7;
}

h3 {
    color: #c3c7d0;
}

h4 {
    color: #b4b9c5;
}

h5 {
    color: #a5acba;
}

div.groupNode {
    display: flex;
    flex-direction: column;

    h2 {
        margin-left: $group-left-margin;
        text-transform: capitalize;
        margin-top: 0;
    }

    h2.locations {

    }

}

div.group-imgs {

    margin-left: $group-left-margin;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

div.group-children {

    margin-left: $group-left-margin;

    margin-top: 2em;
    display: flex;
    flex-direction: column;
    div.groupNode {
        margin-top: 10px;
        border-left: 4px solid #212632;
    }
}

.groupNode.node-level-0 {

    & > .group-children {
        gap: 2rem;
    }
    & > h2 {
        display: none;
    }
}

.groupNode.node-level-1 {
    & > h2 {
        margin-left: 0;
        padding: 0.5em 0 $group-left-margin 0.5em;
        background-color:  #212632;

    }

}



.groupNode.locations {
    div.img-container {
        width: 500px;
        .img-frame {
            width: 175px;
            height: 140px;
            flex-basis: 175px;
        }
    }    
}

div.img-container {

    background-color: #161922;
    border: 1px solid #1c212c;
    border-radius: 10px;
    padding: 6px;
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .img-frame {
        width: 350px;
        height: 280px;
        flex: 0 0 350px;
        border-radius: 8px;
        overflow: hidden;
        background-color: #1d212c;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        

        & > .thumb-bg {
            position: absolute;
            top: -5%;
            left: -5%;
            width: 110%;
            height: 110%;
            object-fit: cover;
            opacity: 0.7;
            filter: blur(8px);
            -webkit-filter: blur(8px);          
        }

        & > .thumb {
            display: block;
            // width: 350px;
            // height: 280px;    
            z-index: 1;
            // object-fit: contain;

            border: 1px solid #c6c9d266;
            box-sizing: content-box;

            max-width: 100%;
            max-height: 100%;

        }
        
    }
    .img-desc {

        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1 1 auto;

        h3 {
            margin: 0.1em 0 0.25em 0;
            font-weight: 600;
            text-transform: uppercase;
        }

        div.line {
            margin: 0.5em 0;
            height:2px;
            width:100%;
            background-color: #1c212c;
        }
    }

}

/*
.filetype {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 40px;

    width: 1em;
    height: 1em;
    border-radius: 0.1em;
    background-color: green;
    color: white;

    text-shadow: 0 0 0.05em #000000;
    font-family: "PT Sans", serif;

    & > span {
        font-size: 0.35em;
        font-weight: 700;
        letter-spacing: 0.02em;
    }
    & > span:nth-child(2) {
        font-size: 0.18em;
        font-weight: 700;
        letter-spacing: 0.02em;
    }
}
*/


.svg.pageIcon-svg {
    overflow:visible;
}

.fileLink {
    display: flex;
    flex-direction: row;
    gap: 1em;

    color: #c3c7d0;
    text-decoration: none;
    padding: 6px;
    border-radius: 6px;
    margin-left: -6px;
    margin-right: -2px;
    font-size: 14px;

    background-blend-mode: multiply;

    transition: background-color 0.2s;

    // background-color: #ffffff03;


    &:hover {
        background-color: #ffffff11;
    }

    &:active {
        background-color: #ffffff22;
    }

    .pageIcon {
        position: relative;
        display: block;
        height: 36px;
        flex: 0 0 auto;
        color: var(--file-type-color);
        svg.pageIcon-svg {
            overflow: visible;
            height: 100%;
        }
    }

    .fileData {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        & > div {
            display: flex;
            gap: 1ch;
            align-items: center;
            justify-content: flex-start;
            line-height: 1.05;
        }
    }
}

span.size {

    color: #a5acba;
    font-weight: 400;

    & > span {
        font-size: 0.85em;
    }
}

span.resolution {
    font-weight: 700;
    font-family: "DM Mono";
}

span.format {
    display: inline-flex;
    height: 1em;
    padding: 0 0.5em;
    align-items: center;
    justify-content: center;
    // color: white;
    color: #e0e3e7;
    line-height: 1;
    border-radius: 1em;
    border: 1px solid var(--file-type-color);
    //background-color: var(--file-type-color);




    & > span {

        
        font-optical-sizing: auto;
        font-variation-settings: "wdth" 90;
        

        /* font-family: "PT Sans"; */

        font-weight: 700;
        font-size: 12px;
        position: relative;
        top: -0.05em;
    }
}

.lossless-tag {
    font-weight: 400;
    font-family: $main-font-family;
    font-variation-settings: "wdth" 75;
}

.half-em-right-margin {
    margin-right: 0.5em;
}

.megapix {
    span:nth-child(1) {
        font-size: 0.9em;
        font-weight: 200;
    }
    span:nth-child(2) {
        font-size: 0.8em;
        font-weight: 200;
        margin-left: 0.25ch;
    }
}