html, body {
  font-family: "Open Sans";
  background-color: #14171f;
  color: #c3c7d0;
  padding: 12px;
}

body {
  opacity: 1;
}

:root {
  --file-type-color: #454978;
}

.webp-lossless {
  --file-type-color: #4e9a06;
}

.webp {
  --file-type-color: #8ae234;
}

.jpg {
  --file-type-color: #7e301e;
}

.png {
  --file-type-color: #673466;
}

h1, h2 {
  color: #e0e3e7;
}

h3 {
  color: #c3c7d0;
}

h4 {
  color: #b4b9c5;
}

h5 {
  color: #a5acba;
}

div.groupNode {
  display: flex;
  flex-direction: column;
}
div.groupNode h2 {
  margin-left: 16px;
  text-transform: capitalize;
  margin-top: 0;
}
div.group-imgs {
  margin-left: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

div.group-children {
  margin-left: 16px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}
div.group-children div.groupNode {
  margin-top: 10px;
  border-left: 4px solid #212632;
}

.groupNode.node-level-0 > .group-children {
  gap: 2rem;
}
.groupNode.node-level-0 > h2 {
  display: none;
}

.groupNode.node-level-1 > h2 {
  margin-left: 0;
  padding: 0.5em 0 16px 0.5em;
  background-color: #212632;
}

div.img-container {
  background-color: #161922;
  border: 1px solid #1c212c;
  border-radius: 10px;
  padding: 6px;
  width: 700px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
div.img-container .img-frame {
  width: 350px;
  height: 280px;
  flex: 0 0 350px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1d212c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
div.img-container .img-frame > .thumb-bg {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  object-fit: cover;
  opacity: 0.7;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
div.img-container .img-frame > .thumb {
  display: block;
  z-index: 1;
  border: 1px solid rgba(198, 201, 210, 0.4);
  box-sizing: content-box;
  max-width: 100%;
  max-height: 100%;
}
div.img-container .img-desc {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}
div.img-container .img-desc h3 {
  margin: 0.1em 0 0.25em 0;
  padding-bottom: 0.2em;
  font-weight: 600;
  border-bottom: 2px solid #1c212c;
  text-transform: uppercase;
}
div.img-container .img-desc div.line {
  display: none;
  height: 2px;
  width: 100%;
  background-color: #1c212c;
}

/*
.filetype {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 40px;

    width: 1em;
    height: 1em;
    border-radius: 0.1em;
    background-color: green;
    color: white;

    text-shadow: 0 0 0.05em #000000;
    font-family: "PT Sans", serif;

    & > span {
        font-size: 0.35em;
        font-weight: 700;
        letter-spacing: 0.02em;
    }
    & > span:nth-child(2) {
        font-size: 0.18em;
        font-weight: 700;
        letter-spacing: 0.02em;
    }
}
*/
.svg.pageIcon-svg {
  overflow: visible;
}

.fileLink {
  display: flex;
  flex-direction: row;
  gap: 1em;
  color: #c3c7d0;
  text-decoration: none;
  padding: 6px;
  border-radius: 6px;
  margin-left: -6px;
  margin-right: -2px;
  font-size: 14px;
  background-blend-mode: multiply;
  transition: background-color 0.2s;
}
.fileLink:hover {
  background-color: rgba(255, 255, 255, 0.0666666667);
}
.fileLink:active {
  background-color: rgba(255, 255, 255, 0.1333333333);
}
.fileLink .pageIcon {
  position: relative;
  display: block;
  height: 36px;
  flex: 0 0 auto;
  color: var(--file-type-color);
}
.fileLink .pageIcon svg.pageIcon-svg {
  overflow: visible;
  height: 100%;
}
.fileLink .fileData {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: "DM Mono";
}
.fileLink .fileData > div {
  display: flex;
  gap: 1ch;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.05;
}

span.size {
  color: #a5acba;
  font-weight: 400;
}
span.size > span {
  font-size: 0.85em;
}

span.resolution {
  font-weight: 700;
}

span.format {
  display: inline-flex;
  height: 1em;
  padding: 0 0.5em;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 1;
  border-radius: 1em;
  background-color: var(--file-type-color);
}
span.format > span {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 0.85em;
  position: relative;
  top: -0.05em;
}

.normal-weight {
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
